<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Age</th>
            <th>Email</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.getId()}">Id</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getLastName()}">LastName</td>
            <td th:text="${user.getAge()}">Age</td>
            <td th:text="${user.getEmail()}">Email</td>
            <td><a th:href="@{/api/users/{id}/getUser (id=${user.getId()})}">Update</a></td>
            <td><a th:href="@{/api/users/{id}/delete (id=${user.getId()})}">Delete</a></td>
        </tr>
    </table>
    <br>
    <br>
    <a href="/api/users/new">
        <button type="button">Create User</button>
    </a>
</div>
</body>
</html>