<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="post" th:action="@{/api/users/save}" th:object="${user}">

    <label for="firstName">FirstName</label>
    <input id="firstName" th:field="*{firstName}">

    <label for="lastName">LastName</label>
    <input id="lastName" th:field="*{lastName}">

    <label for="age">Age</label>
    <input id="age" th:field="*{age}">

    <label for="email">Email</label>
    <input id="email" th:field="*{email}">

    <br>
    <br>
    <input type="submit" value="Save User">

</form>


</body>
</html>